@use '../abstracts/variables' as *;

.u-text-wrapped {
    display: inline-block;
    max-width: 28rem;
}

.u-text-green {
    color: $color-text-green;
    font-family: 'Square721 BT', sans-serif;
    font-weight: bolder;
}