:root {
  --sizeContentWidth: 192rem;
  --sizeContentOffset: clamp(1.5rem, 2vw, 2.5rem);
}

.u-text-wrapped {
  display: inline-block;
  max-width: 28rem;
}

.u-text-green {
  color: rgb(13, 146, 6);
  font-family: "Square721 BT", sans-serif;
  font-weight: bolder;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.3;
}

.home-hero {
  visibility: hidden;
}
.home-hero__frame {
  min-height: min(100vh, 97rem);
  max-width: var(--sizeContentWidth);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--sizeContentOffset);
  padding-left: var(--sizeContentOffset);
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 87.5em) {
  .home-hero__frame {
    grid-template-columns: 100%;
  }
}

.destination-image {
  position: relative;
  transform: translateX(-100%);
}
.destination-image__picture img {
  position: absolute;
  width: 110%;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media (max-width: 87.5em) {
  .destination-image__picture img {
    position: relative;
    height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 40%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 43em) {
  .destination-image__picture img {
    height: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.destination-image__label {
  position: absolute;
  right: 0;
  top: 7rem;
}
@media (max-width: 87.5em) {
  .destination-image__label {
    right: auto;
    left: 50%;
  }
}
@media (max-width: 43em) {
  .destination-image__label {
    top: 4rem;
  }
}
.destination-image__socials {
  position: absolute;
  left: 0;
  top: 25rem;
}
@media (max-width: 87.5em) {
  .destination-image__socials {
    top: 33%;
  }
}
.destination-image__show-more {
  position: absolute;
  left: 0;
  bottom: 9rem;
}
@media (max-width: 87.5em) {
  .destination-image__show-more {
    right: 3%;
    left: auto;
    bottom: 4rem;
  }
}
@media (max-width: 43em) {
  .destination-image__show-more {
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 87.5em) {
  .destination-image {
    max-height: 50rem;
    margin-bottom: 5rem;
  }
}

.pricing-label {
  border-radius: 1.2rem;
  box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
  padding: 1rem 5rem 1rem 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.pricing-label__duration {
  color: rgb(13, 146, 6);
  font-size: clamp(2rem, 2.2vw, 3.8rem);
  font-weight: 900;
  position: relative;
  padding-bottom: 1rem;
}
.pricing-label__duration::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 136, 0);
  height: 4px;
  width: 70%;
}
.pricing-label__price {
  color: rgb(0, 0, 0);
  font-size: clamp(1.6rem, 2vw, 3.2rem);
  padding-top: 1rem;
}
@media (max-width: 43em) {
  .pricing-label {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
}

.more-trips {
  display: flex;
  gap: 2.7rem;
  align-items: center;
  color: rgb(120, 147, 118);
  font-size: clamp(1.8rem, 1.6vw, 2.6rem);
  text-decoration: none;
}
.more-trips__icon {
  width: clamp(3.5rem, 3.75vw, 6rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
  transition: all 0.4s ease;
}
@media (max-width: 75em) {
  .more-trips__icon {
    padding: 0.5rem;
  }
}
.more-trips__text {
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
}
.more-trips__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(255, 136, 0);
  transition: all 0.4s ease;
}
.more-trips:is(:hover, :focus, :active) {
  color: rgb(255, 136, 0);
}
.more-trips:is(:hover, :focus, :active) .more-trips__text::after {
  width: 100%;
}
.more-trips:is(:hover, :focus, :active) .more-trips__icon {
  transform: rotate(-90deg);
  box-shadow: -14px -8px 27px rgba(0, 0, 0, 0.16);
}

.socials {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.9vw, 3rem);
  line-height: initial;
  align-items: start;
}
.socials__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(120, 147, 118);
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
  color: rgb(0, 0, 0);
  font-size: clamp(1.8rem, 1.6vw, 2.6rem);
  transition: all 0.4s ease;
}
.socials__link:is(:hover, :focus, :active) {
  color: rgb(255, 255, 255);
  background-color: rgb(120, 147, 118);
  box-shadow: 5px 14px 15px rgba(0, 0, 0, 0.18);
}
.socials__link:is(:hover, :focus, :active) .socials__text {
  max-width: 15rem;
  color: rgb(255, 255, 255);
  margin-right: 3rem;
}
.socials__icon {
  width: clamp(1.3rem, 1.9vw, 3rem);
  aspect-ratio: 1;
  margin: clamp(0.7rem, 0.9vw, 1.5rem);
}
.socials__text {
  max-width: 0;
  overflow: hidden;
  line-height: 1;
  transition: all 0.4s ease;
  white-space: nowrap;
  margin-right: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.destination-description {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}
.destination-description__title {
  display: flex;
  align-items: end;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-top: 4rem;
  font-size: clamp(3.2rem, 5.6vw, 9rem);
  text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.16);
  line-height: 1.1;
  margin-left: 3.5rem;
}
.destination-description__title .u-text-green {
  font-size: clamp(3rem, 5.25vw, 8.4rem);
}
@media (max-width: 93.75em) {
  .destination-description__title .u-text-green {
    margin-left: -0.4em;
  }
}
.destination-description__content {
  display: flex;
  flex-direction: column;
  gap: clamp(2em, 3.75vw, 6em);
  margin: 1em 0 1em 3.5em;
  position: relative;
}
.destination-description__content::before {
  content: "";
  height: 100%;
  width: 4px;
  background-color: rgb(13, 146, 6);
  position: absolute;
  left: -3.5rem;
  top: 0;
}
.destination-description__text {
  font-size: clamp(1.6rem, 1.8vw, 2.8rem);
  color: rgb(125, 125, 125);
  max-width: 70%;
}
@media (max-width: 87.5em) {
  .destination-description__text {
    max-width: 85%;
  }
}
.destination-description__btn {
  padding: 0.5em 1.5em;
}
.destination-description__slider {
  overflow: hidden;
  position: relative;
  padding: 6rem 0;
  margin-top: auto;
  margin-right: calc(-1 * var(--sizeContentOffset));
}
@media (max-width: 75em) {
  .destination-description__slider {
    padding: 2rem 0;
  }
}
.destination-description__slider-controls {
  position: absolute;
  bottom: 9rem;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4.5rem;
  pointer-events: none;
}
@media (max-width: 75em) {
  .destination-description__slider-controls {
    position: relative;
    bottom: 0;
  }
}
@media (max-width: 43em) {
  .destination-description__slider-controls {
    padding: 0 1rem;
  }
}
.destination-description__button-prev, .destination-description__button-next {
  width: clamp(3.5rem, 3.75vw, 6rem);
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.7rem;
  color: rgb(13, 146, 6);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  pointer-events: all;
  transition: all 0.2s ease;
}
.destination-description__button-prev:hover, .destination-description__button-next:hover {
  background-color: white;
  padding: 0.6rem;
  color: rgb(255, 136, 0);
}
@media (max-width: 75em) {
  .destination-description__button-prev, .destination-description__button-next {
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 146, 6);
    box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
  }
  .destination-description__button-prev:hover, .destination-description__button-next:hover {
    border: 1px solid rgb(255, 136, 0);
  }
}
.destination-description__button-disabled {
  visibility: hidden;
}
.destination-description__link {
  text-decoration: none;
  font-size: clamp(1.8rem, 1.6vw, 2.6rem);
  color: rgb(13, 146, 6);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 999px;
  display: inline-block;
  align-self: center;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: 1rem;
  pointer-events: all;
  transition: all 0.4s ease;
}
.destination-description__link:is(:hover, :focus, :active) {
  background-color: white;
  color: rgb(255, 136, 0);
}
@media (max-width: 75em) {
  .destination-description__link {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 146, 6);
    margin-left: 0;
    margin-right: 0;
    box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
  }
  .destination-description__link:is(:hover, :focus, :active) {
    transform: translateY(-1px);
    border: 1px solid rgb(255, 136, 0);
  }
}
.destination-description__repeat-grid {
  position: absolute;
  right: calc(-1 * var(--sizeContentOffset));
  top: 23rem;
  width: clamp(5rem, 6.25vw, 10rem);
  height: 32rem;
  z-index: 10;
}
@media (max-width: 87.5em) {
  .destination-description__repeat-grid {
    top: 10%;
  }
}
@media (max-width: 87.5em) {
  .destination-description {
    grid-row: 1/span 1;
  }
}

.button-base {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(255, 136, 0);
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: clamp(1.5rem, 1.75vw, 2.7rem);
  z-index: 0;
  position: relative;
  transition: all 0.4s ease-in;
}
.button-base::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: rgb(255, 94, 0);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  z-index: -1;
}
.button-base:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.swiper-wrapper {
  position: relative;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
}

.slide {
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.slide__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */