@use '../abstracts' as *;

.button-base {
    color: $color-white;
    text-decoration: none;
    background-color: $color-orange;
    max-width: max-content;
    font-size: clamp(1.5rem, 1.75vw, 2.7rem);
    z-index: 0;
    position: relative;

    transition: all .4s ease-in;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background: $color-orange-darker;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
        z-index: -1;
      }
    
      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }
}