@use '../abstracts' as *;

.destination-image{
    position: relative;
    transform: translateX(-100%);

    &__picture img {
        position: absolute;
        width: 110%;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @media (max-width: 87.5em) {
            position: relative;
            height: 100%;
            width: auto;
            top: 0;
            left: 40%;
            transform: translate(-50%, 0);
        }

        @media (max-width: 43em) {
            height: 90%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__label {
       position: absolute;
       right: 0;
       top: 7rem;

       @media (max-width: 87.5em) {
        right: auto;
        left: 50%;
    }
    }

    &__socials {
        position: absolute;
        left: 0;
        top: 25rem;

        @media (max-width: 87.5em) {
            top: 33%
        }
    }

    &__show-more {
        position: absolute;
        left: 0;
        bottom: 9rem;

        @media (max-width: 87.5em) {
            right: 3%;
            left: auto;
            bottom: 4rem;
        }

        @media (max-width: 43em) {
            right: 50%;
            transform: translateX(50%);
            bottom: 0;
            margin-bottom: 4.5rem;
        }
    }

    @media (max-width: 87.5em) {
        max-height: 50rem;
    }
}

