@use '../abstracts' as *;

.home-hero{

    visibility: hidden;

    &__frame {
        min-height: Min(100vh, 97rem);
        max-width: var(--sizeContentWidth);
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--sizeContentOffset);
        padding-left: var(--sizeContentOffset);

        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width: 87.5em) {
            grid-template-columns: 100%;
        }
    }
}