@use '../abstracts' as *;

.pricing-label {
border-radius: 1.2rem;
box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
padding: 1rem 5rem 1rem 2rem;
background-color: $color-white;

display: flex;
flex-direction: column;

    &__duration {
        color: $color-text-green;
        font-size: clamp(2rem, 2.2vw, 3.8rem);
        font-weight: 900;
        position: relative;
        padding-bottom: 1rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $color-orange;
            height: 4px;
            width: 70%;
        }
    }

    &__price {
        color: $color-black;
        font-size: clamp(1.6rem, 2vw, 3.2rem);
        padding-top: 1rem;
    }
}