@use '../abstracts' as *;

.swiper {

    &-wrapper {
    position: relative;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    }

    &-slide {
    flex-shrink: 0;
    }
}

.slide {
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;

    &__picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
