@use '../abstracts' as *;

html {
font-size: 62.5%; // 1rem = 10px
} 
  
body {
box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
font-size: inherit;
margin: 0;
padding: 0; 
}